.MainOne {
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    .mainBanner {
        position: relative;
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        background-position: center; 
        
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;

        .mainText {
            position: absolute;
            top: 37%;
            left: 180px;
            color: #382e2c;
            line-height: 80px;

            

            // -webkit-animation: moving .2s ;
            // animation: moving 2s infinite;
            // animation-duration: 3s;
            // animation-iteration-count: infinite;
            // animation-timing-function: linear;

            @keyframes moving {
                from {top: 50%;}
                to {top: 37%;}
            }

            .korName {
                font-size: 47px;
                font-family: 'NanumSqaure';
                font-weight: 700;
            }
            .description {
                font-size: 15px;
            }
            .detail {
                cursor: pointer;
                font-family: 'Roboto';
                font-weight: bold;
                padding-bottom: 4px;
                color: #382e2c;
                border-bottom: 2px solid #382e2c;
            }
            .hasWhite {
                color: white;
            }

            .detailWhite {
                cursor: pointer;
                font-family: 'Roboto';
                font-weight: bold;
                padding-bottom: 4px;
                color: white;
                border-bottom: 2px solid white;
            }
        }

        .slideNum {
            position: absolute;
            right: 50px;
            top: 50%;
            height: 40px;
            color: white;
            font-family: 'Roboto';
            .nowPage {
                font-size: 40px;
                font-weight: 900;
                
            }
            .nowPage::after {
                content: "/";
                padding-right: 5px;
                font-size: 27px;
                font-weight: normal;
            }
        }

        .slideControll {
            position: absolute;
            right: 20px;
            top: 60%;
            width: 70px;

            span {
                width: 10px;
                height: 18px;
            }
        
            .prev {
                cursor: pointer;
                display: inline-block;
                background: url("../../../image/btn_prev05.png") no-repeat 50% 50%;
                background-position: center;
                :hover {
                    background-color: #e0004d;
                }
            }
            
            .next{
                cursor: pointer;
                display: inline-block;
                background: url("../../../image/btn_next05.png") no-repeat 50% 50%;
                background-position: center;
                margin-left: 20px;
            }
        }

        .recommend {
            position: absolute;
            top: 53%;
            left: 0px;
            width: 105px;
            height: 30px;
            padding-left: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid red;
            div {
                cursor: pointer;
                display: flex;
                .logo {
                    height: 18px;
                    width: 20px;
                    background: url("../../../image/blt12.png") no-repeat;
                    margin-right: 5px;
                    padding-top: 5px;
                }
                .text {   
                    font-weight: 900;
                    color: white;
                }
            }
        }

        .mainSns {
            position: absolute;
            bottom: 120px;
            left: 35px;
            a {
                display: block;
                width: 22px;
                height: 22px;
                margin-top: 25px;
            }
            .facebook {
                background: url("../../../image//icon.png");
                background-position: -29px 0;
            }
            .instagram {
                background: url("../../../image//icon.png");
                background-position: -29px -24px;
            }
            .app {
                background: url("../../../image//icon.png");
                background-position: -51px 0;
            }
        }

        .findStore {
            position: absolute;
            cursor: pointer;
            bottom: 120px;
            left: 180px;
            height: 25px;
            
            .logo {
                background: url("../../../image/storeIcon.png") no-repeat;                 
                padding-right: 20px;
                padding-bottom: 19px;
            }

            div {
                display: inline-block;
                font-size: 20px;
                font-family: 'Roboto';
                color: white;
            }
        }
    }
    .img1 {
        background: url("../../../image/mainBanner-img-1.jpg") no-repeat;
        background-size: cover;
    }
    .img2 {
        background: url("../../../image/mainBanner-img-2.jpg") no-repeat;
        background-size: cover;
    }
    .img3 {
        background: url("../../../image/mainBanner-img-3.jpg") no-repeat;
        background-size: cover;
    }
    .img4 {
        background: url("../../../image/mainBanner-img-4.jpg") no-repeat;
        background-size: cover;
    }
    .img5 {
        background: url("../../../image/mainBanner-img-5.jpg") no-repeat;
        background-size: cover;
    }
    .img6 {
        background: url("../../../image/mainBanner-img-6.jpg") no-repeat;
        background-size: cover;
    }

    .mainNotice {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 590px;
        height: 76px;
        background-color: white;
        padding: 30px 25px 0 180px;

        .container {
            display: flex;
            .title {
                position: absolute;
                left: 35px;
                font-size: 14px;
                color: #382e2c;
                font-family: 'Roboto';
                font-weight: 900;
            }
            .list {
                color: #62605f;
            }
            .next {
                position: absolute;
                cursor: pointer;
                right: 20px;
                width: 25px;
                height: 15px;
                background: url("../../../image/btn_next07.png") no-repeat 0 0;
                background-position: center;
            }
        }
    }

    .scroll {
        position: absolute;
        bottom: 0;
        right: 50px;
        background-color: rgba(0,0,0,0.2);
        width: 76px;
        height: 122px;

        .text {
            position: relative;
            top: 60%;
            color: white;
            text-align: center;
            opacity: 0.8;
        }
    }
}