$noto: "NotoSans";

.LocationSection {
  .subtitle {
    margin: 23px 0 25px 30px;
    span {
      font-family: $noto;
      font-size: 16px;
      color: #382e2c;
      font-weight: 700;
    }
  }

  .cityName {
    width: 100%;
    height: 600px;
    padding: 1px 32px;
    overflow: hidden;

    ul {
      list-style: none;
      width: 300px;

      li {
        display: inline-block;
        width: 96px;
        height: 50px;
        padding-top: 16px;
        border: 1px solid #aaa8a7;
        
        text-align: center;
        // margin-top: -1px;
        // margin-left: -1px;
      }
      .clickable {
        cursor: pointer;
        color: #62605f;
      }
      .disableClick {
        color: #a4a3a2;
        background: #f2f2f2;
      }
      .clickable:hover {
        color: #ed1556;
        font-weight: 700;
        border: 1px solid #ed1556;
        
      }
      
    }
  }

  .resultList {
    .result {
      padding: 19px 0 0 30px;
      font-family: "Roboto", "NotoSans";
      display: flex;
      justify-content: space-between;
      .totalCount {
        margin-left: 5px;
        font-size: 16px;
        color: #e0004d;
        font-family: "Roboto", "NotoSans";
        font-weight: 700;
      }
      .logos {
        margin-right: 20px;
        cursor: pointer;
        img {
          margin-top: -5px;
          margin-left: 10px;
        }
      }
    }
  }
  .storeLocationContainer {
    height: calc(100vh-110px);
    overflow: scroll;
    

    .storeLocation {
      overflow: auto;
      margin: 0 20px;
      padding: 25px 0 16px 0;
      display: flex;
      justify-content: space-around;
      .left {
        width: 270px;

        .sotreContainer {
          padding-bottom: 12px;
          margin-bottom: 17px;
          border-bottom: 1px solid #e2dfdc;
          
          .linkToStore {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .name {
              font-size: 16px;
              color: #382e2c;
              font-weight: bold;
              font-family: $noto; 
            }

            .locationLogo {
              height: 21px;
              width: 16px;
              background: url("https://www.baristapaulbassett.co.kr/images/store/icon.png") no-repeat -64px 0;
              } 
          }
          
          .address {
            font-family: $noto;
            color: rgb(98, 96, 95);
            font-size: 13px;
            margin: 7px 0 7px 0;
          }
          .contact {
            font-family: $noto;
            color: rgb(98, 96, 95);
            .telLogo {
              display: inline-block;
              height: 12px;
              width: 12px;
              margin-right: 10px;
              background: url("https://www.baristapaulbassett.co.kr/images/store/icon.png") no-repeat -32px 0;
            }
          }
        }
      }
    }
  }
}
