.NavWhite {
    position: fixed;
    width: 100%;
    height: 110px;
    z-index: 100;
    background-color: white;
    color: black;
    border-bottom: 1px solid #e2dfdc;

    .logoContainer {
        padding-top: 10px;
    
        .logo {
            cursor: pointer;
            margin: 0 auto;
            width: 110px;
            height: 48px;
            background: url("../../image/logo_on.png");
            background-size: cover;
        }
    }

    .navList {
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            margin-top: 5px;
            width: 1003px;
            justify-content: center;

            li {
                font-weight: normal;
                justify-content: space-evenly;
                padding: 0 45px;

                span {
                    cursor: pointer;
                    font-size: 14px;
                    height: 100%;
                    letter-spacing: 2px;
                    margin-right: 6px;
                    padding-bottom: 22px;
                }

                span:hover {
                    border-bottom: 3px red solid;
                }

                .eShop {
                    font-weight: bold;
                }
            }
        }
    }

    .smallNavList {
        position: fixed;
        top: 5px;
        right: 30px;
        color: #969696;
        background-color: white;

        ul {
            list-style: none;
            display: flex;
            margin-left: 15px;

            li {
                margin-right: 15px;
                a, a:link, a:hover, a:active, a:visited, a:focus {
                    text-decoration:none;
                }

                span {
                    cursor: pointer;
                    font-size: 12px;
                    font-family: 'Roboto', 'NotoSans';
                }
            }
        }
    }
}

@media (min-width: 1361px) {
    .NavWhite {
        .logoContainer {
            padding-top: 30px;
            padding-left: 30px;
            height: 70px;
            width: 120px;
        }

        .navList {
            margin-top: -12px;
        }

        .smallNavList {
            top: 20px;
        }
    }
}