.Footer {
    position: relative;
    padding: 20px 0 0 50px;
    height: 147px;
    font-family: NotoSans, "맑은 고딕", "Malgun Gothic", NanumGothic, Dotum, 돋움, gulim, 굴림, Helvetica, sans-serif;
    font-size: 13px;
    background: #3d3937;
    color: #ffffff;
    
    .menu {
        ul {
            list-style: none;
            display: block;
            padding: 0;
            li {
                float: left;
                margin-right: 20px;
                font-weight: normal;
            }
        }
    }

    .companyInfo {
        display: block;
        padding-top: 40px;
        font-size: 11px;
        color: #959595;
        font-family: 'NotoSansL';
        letter-spacing: 1px;

        span {
            margin-left: 20px;
            color: #7e7e7e;
        }
    }

    .moreInfo {
        position: absolute;
        right: 40px;
        top: 47px;
        width: 428px;
        text-align: right;

        ul {
            list-style: none;
        }

        li {
            float: left;
            margin-left: 25px;
        }

        .sns {
            
            img {
                display: inline-block;
                margin-left: 20px;
                width: 28px;
                height: 28px;
            }

            a {
                margin-right: 5px;
            }

            .facebook::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background: url("https://spng.pngfind.com/pngs/s/174-1744532_facebook-icon-link-facebook-white-icon-hd-png.png");
            }

            .instagram::before {
                content: "";
                display: inline-block;
                width: 28px;
                height: 28px;
                background: url("https://toppng.com/public/uploads/preview/insta-business-card-icons-instagram-11563063694u4aewer5gi.png");
            }
        }
    }

}

@media (max-width: 1200px) {
    .Footer {
        height: 197px;
    }

    .more-info {
        position: static;
        width: auto;
        text-align: left;
        padding-left: 20px;
    }
}