.MainTwo {
    ::-webkit-scrollbar {
        width: 0px;
    }
    // ::-webkit-overflow-scrolling: touch;
    position: relative;
    background-color: #382e2c;
    height: calc(100vh - 147px);
    scroll-behavior: smooth;

    .bottomBanner {
        position: absolute;
        display: flex;
        // width: 100%;
        width: 2000px;
        top: 10%;
        // left: 50px;
        bottom: 10%;
        overflow: visible;
        
        .container {
            position: relative;
            height: 100%;
            // width: 900px;
            margin: 0 30px;
            opacity: .6;
            
            img {
                display: inline-block;
                width: 700px;
                height: 100%;
                object-fit: center;
            }

            .text {
                position: absolute;
                top: 0;
                color: white;
                margin-top: 40px;
                margin-left: -50px;
                // color: rgba(255,255,255,0.7);

                .title {
                    span {
                        display: block;
                        font-weight: 600;
                        font-size: 60px;
                        line-height: 76px;
                    }
                }

                .two {
                    span {
                        font-size: 100px;
                        font-family: 'Roboto';
                        line-height: 100px;
                    }
                }

                .content {
                    margin-top: 28px;
                    margin-left: 10px;
                    span {
                        display: none;
                        line-height: 28px;
                        font-size: 17px;
                    }
                }
            }

            .shown {
                .detail {
                  display: none;
                  transition-duration: 1s;
                }
            }

        }
        
        .container:hover {
            opacity: 1;

            .text {
                margin-left: 32px;
                transition-duration: 1s;
                .content {
                  span {
                    display: block;
                    transition-duration: 1.5s;
                  }
                }
            }

            .shown {
                .logo {
                    position: absolute;
                    top: 50px;
                    right: 40px;
                    width: 36px;
                    height: 46px;
                    transition-duration: 1s;
                }
                .one {
                    background: url("https://www.baristapaulbassett.co.kr/images/main/bannerIcon.png") no-repeat;
                    background-position: 0 0;
                }
                .two {
                    background: url("https://www.baristapaulbassett.co.kr/images/main/bannerIcon.png") no-repeat;
                    background-position: -36px 0;
                }
                .three {
                    background: url("https://www.baristapaulbassett.co.kr/images/main/bannerIcon.png") no-repeat;
                    background-position: -72px 0;
                }

                .detail {
                    display: block;
                    position: absolute;
                    color: white;
                    bottom: 50px;
                    right: 50px;
                    font-family: 'RobotoB';
                    font-weight: 700;
                    font-size: 13px;
                    // transition: all 0.5s linear;
                    transition-duration: 1s;
                }
            }
            .showColor {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 40%;
                width: 20px;
                background-color: #ed1556;;
                transition: all 0.3s linear;
                transition-duration: 1s;
            }
        }

        .imgThree {
            img {
                width: 360px;
            }
        }
    }

    .links {
        position: absolute;
        bottom: -25px;
        right: 11%;
        display: flex;
        z-index: 100;
        
        .container {
            margin-left: 155px;
            display: flex;
            cursor: pointer;

            .mobile, .special, .eshop {
                height: 64px;
                width: 50px;
                margin-right: 15px;
                margin-top: 5px;
            }
            .mobile {
                background: url("../../../image/bottomIcon.png") no-repeat;
                background-position: 0 0;
            }
            .special {
                display: inline-block;
                background: url("../../../image/bottomIcon.png") no-repeat;
                background-position: -50px 0;
            }
            .eshop {
                background: url("../../../image/bottomIcon.png") no-repeat;
                background-position: -100px 0;
            }
            .bottomText {
                color: white;
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 18px;
                letter-spacing: 4px;
                line-height: 26px;
                align-self: center;
            }
        }
    }
}

@media (max-width: 1200px) {
    .MainTwo {
        height: calc(100vh - 197px);
        .links {
            right: -10px;
            bottom: -25px;
            
            .container {
                margin: 0 0;
                margin-right: 50px;
              
                .mobile, .special, .eshop {
                    height: 50px;
                    width: 36px;
                    background-size: cover;
                    margin-right: 10px;
                }
                .mobile {
                    background-position-x: -8px;
                }
                .special {
                    width: 37px;
                    background-position: center;
                    background-position-x: -41px;
                }
                .eshop {
                    width: 42px;
                    background-position-x: -78px;
                }
                
                .bottomText {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }
}